<!Doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
  </head>
  <body>
    <%= yield %>
    <br><br><br><br>
    <p>There are <%= @user_data.size %> users with a total of <%= count_interests %> interests.</p>
  </body>
</html>